<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>LocationManager</string>
	<key>CFBundleIdentifier</key>
	<string>com.my.re.lm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>LMRootViewController</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>允许定位以把位置保存到照片中</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>允许定位以把位置保存到照片中</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string></string>
</dict>
</plist>
